* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: rgb(180, 174, 174);
}


section {
    border: 2px solid black;

    margin: 1rem;
    border-radius: 2rem;
    padding: 2rem;
    background-color: rgb(85, 85, 194);
}


div {
    font-size: x-large;
    margin: 1rem;
    width: 50%;
}

div input {
    border-radius: 2rem;
    border: 1px dotted;
    width: 100%;
    height: 2rem;
    font-size: 20px;
}


#blood {
    font-size: x-large;


}

#health {
    height: 2rem;

}

button {
    margin: 1rem;
    height: 2.5rem;
    width: 6rem;
}

button:hover {
    background-color: rgb(45, 234, 45);
}


div textarea {
    width: 100%;
}

#health textarea {
    width: 100%;
    
}
#health{
    font-size: 20px;
}

#address{
    font-size: 20px;
}